@import './base.css';

/* Añade estos estilos */
body {
  margin: 0;
  background: linear-gradient(to left, #4f345f,#4c4a68);
  font-family: 'Poppins', sans-serif;
  color: black;
  min-height: 100vh;
  display: flex;
  /* Enable flexbox for body */
  justify-content: center;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically (optional, but good for overall centering) */
  /* flex-direction: column; */
  /* No necesitamos forzar la dirección aquí */

}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra horizontalmente el contenido dentro de #app */
  /* justify-content: flex-start; */
  /* No forzamos la alineación vertical aquí */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* Centra #app horizontalmente si tiene un max-width */
  box-sizing: border-box;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* Mantén o ajusta estos estilos responsive */
    display: flex;
    place-items: center;
  }

}

:root {

  /* Variables de color */
  
  /* 1. Modo Claro */
  /* --mainColor: rgb(255, 255, 255);
  --secondaryColor: rgb(34, 34, 34); */
  
  /* 2. Modo Oscuro */
  --mainColor: #212531;
  --secondaryColor: #b7a2c9;
  --complementaryColor: #322f42;
  --complementaryColor2: #4b3a70;
  --complementaryColor3: #c5c3c4;
  --complementaryColor4: #e3dde9;
}